# Ignore compiled Java files
*.class

# Ignore logs
*.log

# Ignore IDE files
.idea/
.vscode/
*.iml

# Ignore build folders
bin/
out/
target/
DSA/Searching/Linear_Search_Quetions/Info.txt
a.txt
Array/Array.txt
a.txt
String/String.txt
a.txt
